language: android
script:
    - cd library_project
    - android update project -p .
    - cd ..
    - cd sample_app
    - android update project -p .
    - android update test-project -m ../sample_app/ -p ../sample_app-test
    - cd ..
    - cd sample_app-test
    - ant debug install test
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    # - tools

    # The BuildTools version used by your project
    - build-tools-19.1.0

    # The SDK version used to compile your project
    - android-18

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-19
    - sys-img-x86-android-17
